.about {
    position: relative;
    z-index: 10;

    &__back {
        width: 100%;
    }

    &__content {
        position: relative;
        display: flex;
        flex-wrap: wrap-reverse;
        background: linear-gradient(180deg, #D64C6E 0%, #EE5272 66.73%);
        margin-top: -5px;

        &__tag {
            position: absolute;
            width: 17%;
            top: calc(-4vw);
            left: calc(8vw);
        }

        &__desc {
            width: 45%;
            text-align: left;
            
            &__bottom {
                padding-top: 2vw;
            }

            div {
                padding-left: 8vw;
                padding-top: 9.5vw;
            }

            p {
                font-family: Bank Sans EF CY;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4vw;
                line-height: 2vw;
                /* or 45% */

                text-transform: uppercase;

                /* WHITTE */

                color: #FFFFFF;

                span {
                    font-family: Vermin Vibes;
                    font-weight: 400;
                    font-size: 4vw;
                }
            }
        }

        &__pic {
            width: 55%;
            img {
                width: 100%;
            }
        }
    }

    &__slider {
        background-color: #191919;
        position: relative;
        z-index: 11;
        margin-top: -5px;

        padding-top: calc(5vw);
        padding-bottom: calc(5vw);

        &__eachItem {
            display: flex;
            justify-content: center;

            div {
                width: calc(28vw);
                height: calc(30vw);
                background-size: cover;
            }
        }

        .indicator {
            width: calc(6vw);
            height: calc(1vw);
            margin: calc(1vw);
            cursor: pointer;
            border: unset;
            background: #4F4F4F;
        }

        .indicator.active {
            background: #FFFFFF;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 768px) {
    .about {
        &__content {
            &__desc {
                width: 93%;

                div {
                    padding-top: 3vw;
                    padding-bottom: 10vw;
                }

                p {
                    font-size: 3vw;
                    line-height: 4vw;

                    span {
                        font-size: 6vw;
                    }
                }
            }

            &__pic {
                width: 70%;
                margin-left: 20%;
            }
        }
    }
}