.home {
    position: relative;
    background: #191919;

    &__logo {
        position: absolute;
        left: calc(3vw);
        top: calc(2.5vw);
        display: flex;
        align-items: center;

        &__img {
            width: calc(1.7vw);
            margin-right: 7%;
        }

        &__text {
            width: calc(12vw);
        }
    }

    &__topMenu {
        position: absolute;
        right: calc(3vw);
        top: calc(2.5vw);
        display: flex;
        align-items: center;

        &__walletBtn {
            font-family: Cygnito Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */
        
            /* WHITTE */
        
            color: #FFFFFF;
        
            /* Inside Auto Layout */
        
            flex: none;
            order: 0;
            flex-grow: 0;
        
            padding: 5px 10px;
            outline-style: unset;
            border: unset;
        
            background-color: rgb(25, 25, 25) !important;
            border: 1px solid #FFFFFF;
            margin-right: calc(3vw);

            &:hover {
                cursor: pointer;
                border: 1px solid #000000;
                background-color: #FFFFFF !important;
                color: rgb(25, 25, 25);
            }
        }

        &__icons {
            a {
                margin-right: calc(1vw);
                margin-left: calc(1vw);

                img {
                    width: calc(1.7vw);
                }
            }
        }

        &__dropDownMenu {
            position: relative;
            display: none;

            &:hover {
                .home__topMenu__dropDownMenu__content {
                    display: block;
                }
            }

            &__icon {
                border: none;
                cursor: pointer;
                width: calc(3vw);
            }

            &__content {
                display: none;
                position: absolute;
                background-color: black;
                min-width: 140px;
                z-index: 100;
                right: 0;

                a {
                    font-size: 13px;
                    color: white;
                    padding: 10px 13px;
                    text-decoration: none;
                    display: block;
                    text-align: left;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }

    &__main {
        text-align: center;

        &__charac {
            width: 40%;
            top: calc(2vw);
            z-index: 2;
            position: relative;
        }

        &__textWhite {
            position: absolute;
            width: 60%;
            top: calc(15vw);
            transform: translate3d(-50%, 0, 0);
            left: 50%;
            z-index: 1;
        }

        &__textBorder {
            position: absolute;
            width: 60%;
            top: calc(25vw);
            transform: translate3d(-50%, 0, 0);
            left: 50%;
            z-index: 3;
        }
    }

    &__date {
        position: absolute;
        right: 7%;
        top: calc(38vw);
        width: 20%;
        z-index: 10;

        &__dropText {
            background-color: #1CD2F9;
            padding: 3px;
        
            font-family: Cygnito Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 16.7129px;
            line-height: 25px;
            /* identical to box height */
        
            display: flex;
            align-items: center;
        
            /* BLACK */
        
            color: #000000;
            border-bottom: 0.422843px solid #000000;
        }

        &__launchText {
            background-color: #1CD2F9;
            padding: 3px;
            text-align: left;
        
            font-family: Cygnito Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            line-height: 13px;
            /* identical to box height */
        
            text-transform: uppercase;
        
            /* BLACK */
        
            color: #000000;
            margin-bottom: 10px;
        }

        &__initializeText {
            background-color: #1CD2F9;
            padding: 5px 10px;
            text-align: left;
        
            font-family: Cygnito Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            line-height: 13px;
            /* identical to box height */
        
            text-transform: uppercase;
        
            /* Gray 1 */
        
            color: #333333;
            border-bottom: 0.422843px solid #000000;
        }

        &__show {
            display: flex;
            background-color: #1CD2F9;
            text-align: center;

            font-family: Cygnito Mono;
            font-size: 30px;
            font-weight: bold;
            color: #000000;
            
            &__month {
                border-right: 1.05711px solid #000000;
                width: 40%;
                padding: 10px;
            }

            &__date {
                border-right: 1.05711px solid #000000;
                width: 30%;
                padding: 10px;
            }

            &__year {
                width: 30%;
                padding: 10px;
            }
        }
    }
}

// Extra Small devices (below 576px)
@media (max-width: 481px) {
    .home {
        &__logo {
            &__img {
                width: calc(4vw);
            }

            &__text {
                display: none;
            }
        }

        &__topMenu {
            &__walletBtn {
                font-size: 6px;
                padding: 1px 2px;
            }
    
            &__icons {
                display: none;
            }

            &__dropDownMenu {
                display: inline-block;

                &__content {
                    min-width: 100px;

                    a {
                        padding: 5px 8px;
                        font-size: 10px;
                    }
                };
            }
        }

        &__date {
            width: 25%;

            &__dropText {
                font-size: 9px;
                line-height: 13px;
            }
    
            &__launchText {
                font-size: 2.5px;
                line-height: 5px;
                margin-bottom: 5px;
            }
    
            &__initializeText {
                font-size: 2.5px;
                line-height: 5px;
            }
    
            &__show {    
                font-size: 11px;
                line-height: 15px;

                &__month {
                    padding: 1px;
                }
    
                &__date {
                    padding: 1px;
                }
    
                &__year {
                    padding: 1px;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 481px) and (max-width: 768px) {
    .home {
        &__topMenu {
            &__walletBtn {
                font-size: 9px;
                padding: 2px 4px;
            }

            &__icons {
                display: none;
            }

            &__dropDownMenu {
                display: inline-block;
            }
        }

        &__date {
            width: 25%;

            &__dropText {
                font-size: 10.7129px;
                line-height: 15px;
            }
    
            &__launchText {
                font-size: 4px;
                line-height: 8px;
                margin-bottom: 7px;
            }
    
            &__initializeText {
                font-size: 4px;
                line-height: 8px;
            }
    
            &__show {    
                font-size: 17px;

                &__month {
                    padding: 3px;
                }
    
                &__date {
                    padding: 3px;
                }
    
                &__year {
                    padding: 3px;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 992px) {
    .home {
        &__topMenu {
            &__walletBtn {
                font-size: 11px;
                padding: 3px 6px;
            }
        }
        
        &__date {
            &__dropText {
                font-size: 10.7129px;
            }
    
            &__launchText {
                font-size: 4px;
                margin-bottom: 8px;
            }
    
            &__initializeText {
                font-size: 4px;
            }
    
            &__show {    
                font-size: 20px;

                &__month {
                    padding: 5px;
                }
    
                &__date {
                    padding: 5px;
                }
    
                &__year {
                    padding: 5px;
                }
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 992px) and (max-width: 1200px) {
    .home {
        &__topMenu {
            &__walletBtn {
                font-size: 12px;
                padding: 4px 8px;
            }
        }

        &__date {
            &__dropText {
                font-size: 12.7129px;
            }
    
            &__launchText {
                font-size: 6px;
            }
    
            &__initializeText {
                font-size: 6px;
            }
    
            &__show {    
                font-size: 25px;

                &__month {
                    padding: 8px;
                }
    
                &__date {
                    padding: 8px;
                }
    
                &__year {
                    padding: 8px;
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1200px) and (max-width: 1400px) {
    .home {
        &__date {
            &__dropText {
                font-size: 13.7129px;
            }
    
            &__launchText {
                font-size: 7px;
            }
    
            &__initializeText {
                font-size: 7px;
            }
    
            &__show {    
                font-size: 30px;
            }
        }
    }
}