.about {
    margin-top: -5px;

    position: relative;
    z-index: 10;
    background: linear-gradient(180deg, #D64C6E 0%, #EE5272 66.73%);

    &__back {
        width: 100%;
    }

    &__content {
        position: relative;
        display: flex;
        flex-wrap: wrap-reverse;

        &__tag {
            position: absolute;
            width: 17%;
            top: -4vw;
            padding-left: 4vw;
        }

        &__desc {
            width: 45%;
            text-align: left;
            
            &__bottom {
                padding-top: 2vw;
            }

            div {
                padding-left: 4vw;
                padding-top: 9.5vw;
            }

            p {
                font-family: Bank Sans EF CY;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4vw;
                line-height: 2vw;
                /* or 45% */

                text-transform: uppercase;

                /* WHITTE */

                color: #FFFFFF;

                span {
                    font-family: Vermin Vibes;
                    font-weight: 400;
                    font-size: 3.3vw;
                }
            }
        }

        &__pic {
            width: 55%;
            img {
                width: 100%;
            }
        }
    }

    &__slider {
        margin-top: -5px;
        background-color: #191919;
        position: relative;
        z-index: 11;

        padding-top: calc(5vw);
        padding-bottom: calc(5vw);

        &__eachItem {
            display: flex;
            justify-content: center;

            div {
                width: calc(28vw);
                height: calc(30vw);
                background-size: cover;
            }
        }

        .indicator {
            width: calc(5vw);
            height: calc(0.5vw);
            margin: calc(1vw);
            cursor: pointer;
            border: unset;
            background: #4F4F4F;
        }

        .indicator.active {
            background: #FFFFFF;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 768px) {
    .about {
        &__content {
            &__desc {
                width: 93%;

                div {
                    padding-top: 3vw;
                    padding-bottom: 10vw;
                }

                p {
                    font-size: 3vw;
                    line-height: 4vw;

                    span {
                        font-size: 6vw;
                    }
                }
            }

            &__pic {
                width: 70%;
                margin-left: 20%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1500px) {
    .about {
        &__slider {
            &__eachItem {
                display: flex;
                justify-content: center;
    
                div {
                    width: calc(17vw);
                    height: calc(18vw);
                    background-size: cover;
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .about {
        &__content {
            &__tag {
                padding-left: 50px;
            }

            &__desc {
                div {
                    padding-left: 50px;
                    padding-top: 120px;
                }
    
                p {
                    font-size: 21px;
                    line-height: 25px;
    
                    span {
                        font-size: 50px;
                    }
                }

                &__bottom {
                    padding-top: 25px;
                }
            }
        }

        &__slider {
            .indicator {
                width: 75px;
                height: 7.5px;
                margin: 15px;
            }

            &__eachItem {
                display: flex;
                justify-content: center;
    
                div {
                    width: calc(12.14vw);
                    height: calc(14vw);
                    background-size: cover;
                }
            }
        }
    }
}