ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navBar {
    position: fixed;
    transform: translate3d(0, -50%, 0);
    top: 55%;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 0vw;

    &__item {
        cursor: pointer;
        text-orientation: mixed;
        writing-mode: vertical-rl;
        color: white;
        transform: rotate(180deg);

        padding: 1vw;
        margin: 1vw;

        font-family: Bahnschrift;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 1.8vw;
    
        &.active {
            background-color: white;
            color: black;
        }

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 768px) {
    .navBar {
        display: none;
    }
}