ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navBar {
    position: fixed;
    transform: translate3d(0, -50%, 0);
    top: 57%;
    z-index: 100;
    text-align: center;

    &__item {
        margin-bottom: 6vw;
        
        transform: rotate(-90deg);

        &__btn {
            color: white;
            outline-style: unset;
            background-color: transparent;
            border: unset;
        
            font-family: Bahnschrift;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            // height: 50px;
        }

        &.active {
            background-color: white;

            .navBar__item__btn {
                color: black;
            }
        }

        &:hover {
            background-color: white;

            .navBar__item__btn {
                color: black;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 768px) {
    .navBar {
        display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 992px) {
    .navBar {
        &__item {

            &__btn {
                font-size: 13px;
                line-height: 14px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 992px) and (max-width: 1200px) {
    .navBar {
        &__item {

            &__btn {
                font-size: 15px;
                line-height: 17px;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1200px) and (max-width: 1400px) {
    .navBar {
        &__item {

            &__btn {
                font-size: 17px;
                line-height: 20px;
            }
        }
    }
}