ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navBar {
    position: fixed;
    transform: translate3d(0, -50%, 0);
    top: 57%;
    z-index: 100;
    text-align: center;

    &__item {
        margin-bottom: 6vw;

        transform: rotate(-90deg);

        &__btn {
            color: white;
            outline-style: unset;
            background-color: transparent;
            border: unset;
        
            font-family: Bahnschrift;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            line-height: 1.8vw;
        }

        &.active {
            background-color: white;

            .navBar__item__btn {
                color: black;
            }
        }

        &:hover {
            background-color: white;

            .navBar__item__btn {
                color: black;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 768px) {
    .navBar {
        display: none;
    }
}