.intro {
    background: #191919;
    margin-top: -35px;

    &__main {
        text-align: center;

        &__charac {
            width: 45%;
            top: calc(5%);
            z-index: 2;
            position: relative;
        }

        &__textWhite {
            position: absolute;
            font-family: Vermin Vibes;
            font-style: normal;
            font-weight: normal;
            font-size: 7vw;
            color: white;

            top: 21vw;
            transform: translate3d(-50%, -50%, 0);
            left: 50%;
            z-index: 1;
        }

        &__textBorder {
            position: absolute;

            font-family: Vermin Vibes;
            font-style: normal;
            font-weight: normal;
            font-size: 7vw;
            color: transparent;
            -webkit-text-stroke: 1px #ffffff;

            top: 33vw;
            transform: translate3d(-50%, -50%, 0);
            left: 50%;
            z-index: 3;
        }
    }

    &__date {
        position: absolute;
        right: 10%;
        top: 45vw;
        width: 21%;
        z-index: 10;

        .border {
            border: 2px solid #000000;
        }

        &__dropText {
            background-color: #1CD2F9;
            padding: 0.4vw;
        
            font-family: Cygnito Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            line-height: 1.2vw;
            /* identical to box height */
        
            display: flex;
            align-items: center;
        
            /* BLACK */
        
            color: #000000;
            border-bottom: 0.422843px solid #000000;
        }

        &__launchText {
            background-color: #1CD2F9;
            padding: 0.4vw;
            text-align: left;
        
            font-family: Cygnito Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 0.7vw;
            line-height: 0.3vw;
            /* identical to box height */
        
            text-transform: uppercase;
        
            /* BLACK */
        
            color: #000000;
        }

        &__initializeText {
            background-color: #1CD2F9;
            padding: 0.5vw 1vw;
            text-align: left;
        
            font-family: Cygnito Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 0.6vw;
            line-height: 0.3vw;
            /* identical to box height */
        
            text-transform: uppercase;
        
            /* Gray 1 */
        
            color: #333333;
            border-bottom: 0.422843px solid #000000;
        }

        &__show {
            display: flex;
            background-color: #1CD2F9;
            text-align: center;

            font-family: Cygnito Mono;
            font-size: 3.1vw;
            font-weight: bold;
            color: #333333;
            
            &__month {
                border-right: 1px solid #000000;
                width: 40%;
                padding: 0;
            }

            &__date {
                border-right: 1px solid #000000;
                width: 30%;
                padding: 0;
            }

            &__year {
                width: 30%;
                padding: 0;
            }
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 768px) {
    .intro {
        &__dateWrapper {
            width: 60vw;
            background-color: #1CD2F9;
            padding: 14vw 20vw;
            position: relative;
        }

        &__date {
            position: unset;
            display: block;
            width: 100%;

            &__dropText {
                padding: 0.4vw;
            
                font-size: 3.5vw;
                line-height: 3.2vw;
            }
    
            &__launchText {
                padding: 0.4vw;
            
                font-size: 2vw;
                line-height: 2vw;
            }
    
            &__initializeText {
                background-color: #1CD2F9;
                padding: 0.5vw 1vw;
                
                font-weight: normal;
                font-size: 1.8vw;
                line-height: 1.5vw;
            }
    
            &__show {
                font-size: 10vw;
            }
        }
    }
}

@media (min-width: 1500px) {
    .intro {
        max-width: 1400px;
        position: relative;
        padding: 0 60px;
        transform: translateX(-50%);
        left: 50%;

        &__main {
            &__textWhite {
                font-size: 110px;
                top: 300px;
            }

            &__textBorder {
                font-size: 110px;
                top: 500px;
            }
        }

        &__date {
            top: 600px;
            right: 150px;

            &__dropText {
                padding: 6px;
            
                font-size: 21px;
                line-height: 20px;
            }
    
            &__launchText {
                padding: 6px;
            
                font-size: 14px;
                line-height: 14px;
            }
    
            &__initializeText {
                background-color: #1CD2F9;
                padding: 5px 10px;
                
                font-weight: normal;
                font-size: 12px;
                line-height: 12px;
            }
    
            &__show {
                font-size: 50px;
            }
        }
    }
}