.footer {
    &__content {
        display: flex;
        padding-top: 3vw;

        font-family: Bank Sans EF CY;
        font-style: normal;
        font-weight: 300;
        font-size: 1.1vw;
        line-height: 1.3vw;

        /* WHITTE */

        color: #FFFFFF;

        &__logo {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            &__img {
                width: calc(2.5vw);
                margin-right: 1vw;
            }

            &__text {
                width: calc(20vw);
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            width: 20%;
        }

        &__policy {
            display: flex;
            flex-direction: column;
            width: 20%;
        }

        &__community {
            display: flex;
            flex-direction: column;
            width: 20%;
        }

        a {
            border: unset;
            color: white !important;
            padding-bottom: 1.5vw;
            text-decoration: unset;
        }
    }

    &__copyright {
        text-align: center;
        padding: 3vw;

        font-family: Bank Sans EF CY;
        font-style: normal;
        font-weight: 300;
        font-size: 1.2vw;
        line-height: 1.3vw;
        color: white;
    }
}