@font-face {
  font-family: 'Bahnschrift';
  src: local('Bahnschrift'),
       url('./assets/fonts/BAHNSCHRIFT.TTF') format('truetype'), /* Super Modern Browsers */
}

@font-face {  
  font-family: 'Cygnito Mono';
  src: local('Cygnito Mono'), local('CygnitoMono'),
       url('./assets/fonts/Cygnito Mono.otf') format('truetype'), /* Super Modern Browsers */
}

@font-face {  
  font-family: 'Bank Sans EF CY';
  font-weight: 300;
  src: local('Bank Sans EF CY'),
       url('./assets/fonts/Bank Sans EF CY.otf') format('truetype'), /* Super Modern Browsers */
}

@font-face {  
  font-family: 'Vermin Vibes';
  src: url('./assets/fonts/VerminVibesV-Zlg3.ttf') format('truetype'); /* Super Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'BigBang';
  src: local('BigBang'), local('BigBang'),
       url('./assets/fonts/BigBang.otf') format('truetype'), /* Super Modern Browsers */
}

@font-face {  
  font-family: 'Phoska Dangers';
  src: url('./assets/fonts/PhoskaDangers-Regular.ttf') format('truetype'); /* Super Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.App {
  background: #191919;
}

.hidden {
  display: none;
}